@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities{
  .svgIcons{
    width: calc(30px + 1vw);
  }
}

*{
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}

body{
  min-width: 280px;
}

.default-input{
  border: 1px solid rgb(79, 79, 79);
  padding: 19px;
  border-radius: 10px;
  font-weight: 300;

}

