@tailwind base;
@tailwind components;
@tailwind utilities;


/* @font-face {
  font-family: "HelveticaRegular";
  src: local("HelveticaRegular"),
   url("./fonts/Helvetica/helvetica_regular.otf") format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: "HelveticaBold";
  src: local("HelveticaBold"),
   url("./fonts/Helvetica/helvetica_bold.otf") format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: "HelveticaLight";
  src: local("HelveticaLight"),
   url("./fonts/Helvetica/helvetica_light.otf") format("truetype");
  font-weight: normal;
} */

@layer utilities{
  .svgIcons{
    width: calc(30px + 1vw);
  }
}

*{
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}

body{
  min-width: 280px;
}

.default-input{
  border: 1px solid rgb(79, 79, 79);
  padding: 19px;
  border-radius: 10px;
  font-weight: 300;

}


/* .auto-height{
  height: calc(100% - 112px);
} */

